{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>crm</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	


</head>
<body>

{% include 'navbar.html' %}


{% block content %}

{% endblock %}

<hr>

<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Informações sobre desenvolvimento:</h5>

        <p>
          Eu começei no dia 14 de outubro de 2021, tendo base nos conhecimentos que fui adquerindo ao longo desses últimos 3 meses em desenvolvimento python web com django. No começo tive muita distração, mais agora eu me esforcei para aprimorar a cada mais um pouco. Antes disso estava desenvolvendo em Delphi um PDV básico.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Aplicação web - com API funcionando par testar</h5>

        <p>
          Seja bem-vindo ao web site para testes com APIS
        </p>
        <p>
          Eu ainda estou trabalhando na api, vai demorar pouco para completar. por enquando vai poder só postar via API, estou implementando o update().
          Api desenvolvida com Django Rest Framework.

        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 not Copyright
    
  </div>
  <!-- Copyright -->
</footer>






</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</html>