<br>
<div  class="container-fluid">
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" style="background-color: #490aac;" >
			  	<div class="card-header">
			  		<h5 class="card-title" >OBRAS CADASTRADAS</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_obras}}</h3>
			  	</div>
			  	<div class="card-body">
			    	
			    	<a href="{% url 'criar_obra' %}"><button href="{% url 'criar_obra' %}" class="btn btn-primary btn-lg"  type="button">Cadastrar uma obra</button></a>
			  	</div>
			  	<br>
			  	
			</div>

		</div>
	</div>

	


</div>
</div>